
 /* General CSS for About Page */


  /* .header {
  grid-area: header ;
  position: relative;
  width: 100%;
	background: #2f0164;
	color: #ffcc00;
  padding: 1rem;
  text-align: center;
} */


main > section {
  padding: 1.5rem;
}

footer{
  background-color:  #2f0164;
  border-radius: 5px;
}



/* Typography for About Page */
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-family: "futura-pt", sans-serif;
}

.sub_pages { 
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

.h2_about { 
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  font-style: italic;
  color:  #2f0164;
  text-align: center;
  padding: 1rem;

}

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.4rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

.about_header {
        font-family: "futura-pt", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        font-style: normal;
        padding: 1rem 3rem 1rem 3rem;

}

p {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:  #2f0164;
  padding-left: 5%;
  padding-right: 5%;
}

#goals_list {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:  #2f0164;
  margin-left: 6%;
  padding-right: 6%;

  
}

.board_list {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:  #2f0164;
  padding-right: 4%;
  text-align: center;
  list-style-type: none;
  
}

footer > p {
  color: #EDA51A;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  font-style: italic;
  padding: 5%;
  text-align: center;
}



/* Page Header Graphics 
--------------------------------------------------- */
.graphic_header{
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top_nav {
  font: 1.15em;
  background: #ffffff;
  border-width: 2rem;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
}

.top_nav ul {
  margin: 0.5%;
}

.top_nav li {
  display: inline-block;
  padding: 1em;
  margin-bottom: 1rem;
  border: 3px solid #2f0164;
  border-radius: 30px;

}

.top_nav li a {
  text-decoration: none;
  color:  #2f0164;
}

.top_nav li a:hover {
  padding: 1em;
  margin-bottom: 1rem;
}

.tel{
  float: right;
}

.content_nav {
  font-size: 1.15em;
  background:  #2f0164;
  border-radius: 5px;
  text-align: center;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content_nav ul {
  margin: 0;
  padding: 0;
}

.content_nav li {
  display: inline-block;
  padding: 15px 40px;
}

.content_nav li a {
  text-decoration: none;
  color: #EDA51A;
}

.content_nav li a:hover {
  padding-bottom: 3px;
  color: #649cfc;
}

footer{
  width: 100%;
  background-color:  #2f0164;
  border-radius: 5px;
}



/* Option 1 Nav Bar */
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 
/* #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 10px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color:  #ffcc00;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color:#3b9dff;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0;
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #ffcc00;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #ffcc00;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #2f0164;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 2% 1rem 2% ;
   text-align: left;
   font-size: 22px;
 }

 #menu li li
 {
   padding: 2%;
   list-style-type: none;
   font-size: 1rem;
 }

 #menuToggle input:checked ~ ul
 {
   transform: none;
 } */


 /* Option 2 Nav Bar */
 /* #topnav {
  margin-top: -21px;
  height: 100%;
 }
 
 .nav {
  overflow: hidden;
 }
 
 .nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
 }
 
 .nav a:hover {
  background-color: #ddd;
  color: black;
 }
 
 .nav a.active {
  background-color: #c59775;
  color: white;
 }
 
 .nav .icon {
  display: none;
 }

 #menu li
 {
   padding: 2%;
   list-style-type: none;
   font-size: 1rem;
 }

 #menu ul
 {
   padding: 2%;
   list-style-type: none;
   font-size: 1rem;
 }*/

 @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    /* Typography */
  .top_nav {
    font-size: 1.5rem;
  }

  .content_nav {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  p {
    font-size: 1.15rem;
  }

  footer > p{
    font-size: 1.5rem;
  }

  }