
 /* General CSS for About Page */


main > section {
  padding: 1.5rem;
}

footer{
  background-color:  #2f0164;
  border-radius: 5px;
}



/* Typography for About Page */

h1 {
  font-family: "futura-pt", sans-serif;
}

.sub_pages { 
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

.h2_about { 
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;

}

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.4rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

.about_header {
        font-family: "futura-pt", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        font-style: normal;
        padding: 1rem 3rem 1rem 3rem;

}

p {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:  #2f0164;
  padding-left: 5%;
  padding-right: 5%;
}

#goals_list {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:  #2f0164;
  margin-left: 6%;
  padding-right: 6%;

  
}

.board_list {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:  #2f0164;
  padding-right: 4%;
  text-align: center;
  list-style-type: none;
  
}

footer > p {
  color: #EDA51A;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  font-style: italic;
  padding: 5%;
  text-align: center;
}



/* Page Header Graphics 
--------------------------------------------------- */
.graphic_header{
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.beam {
  width: 40%;
  height: auto;
  position: relative;
  display: block;
  margin: 5% auto;
  text-align : center;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top_nav {
  font: 1.15em;
  background: #ffffff;
  border-width: 2rem;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
}

.top_nav ul {
  margin: 0.5%;
}

.top_nav li {
  display: inline-block;
  padding: 1em;
  margin-bottom: 1rem;
  border: 3px solid #2f0164;
  border-radius: 30px;

}

.top_nav li a {
  text-decoration: none;
  color:  #2f0164;
}

.top_nav li a:hover {
  padding: 1em;
  margin-bottom: 1rem;
}

.tel{
  float: right;
}

.content_nav {
  font-size: 1.15em;
  background:  #2f0164;
  border-radius: 5px;
  text-align: center;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content_nav ul {
  margin: 0;
  padding: 0;
}

.content_nav li {
  display: inline-block;
  padding: 15px 40px;
}

.content_nav li a {
  text-decoration: none;
  color: #EDA51A;
}

.content_nav li a:hover {
  padding-bottom: 3px;
  color: #649cfc;
}

footer{
  width: 100%;
  background-color:  #2f0164;
  border-radius: 5px;
}

/* Images of Board
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image_container{
  display: block;
  justify-content: center;
  padding-left: 20%;
}

.image_our_board {
  display: block;
  margin-left: 5%;
  margin-right: auto;
  width: 70%;
  margin-bottom: 5%;
}


 @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    /* Typography */
    .top_nav {
      font-size: 1.3rem;
    }
  
    .content_nav {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.6em;
    }
  
    p {
      font-size: 1.15rem;
    }
  
    footer > p{
      font-size: 1.5rem;
      padding: 0;
    }
  
    footer {
      display: inline-block;
      width: 100%;
    }

  .beam {
    width: 15%;
    height: auto;
    position: relative;
    display: block;
    margin: 5% auto;
  }

  .image_container{
    width: 80vw;
    height: auto;
    display: block;
    justify-content: center;
    padding-left: 30%;
  }

  .image_container_2 {
    width: 95vw;
    height: auto;
    display: block;
    justify-content: center;
  }

  .image_our_board_2{
    width: 185px;
    display: flex;
    float: left;
    margin-right: 10px;
    margin-bottom: 2%;
  }

  .image_our_board_3{
    width: 185px;
    display: flex;
    padding-left: 170px;
    margin-bottom: 2%;
  }


}