html {
	scroll-behavior: smooth;}

main > section {
    padding: 0;
  }
  
  footer{
    background-color:  #2f0164;
    border-radius: 5px;
  }

  a{
    color: #0e65bd
  }

a:hover{
  color:  #EDA51A;
}

  /* Page Header Graphics 
--------------------------------------------------- */
.graphic_header{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }

hr {
  border: 3px solid #2f0164;
  border-radius: 10px;
  margin-bottom: 2rem;
}

  
  /* Typography for Information Page 
  ------------------------------------------------- */
h1 {
    font-family: "futura-pt", sans-serif;
  }
  


  .sub_pages {  /* These are the labels for the top of every page  */
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

.h2_about { 
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  font-style: italic;
  color:  #2f0164;
  text-align: center;
  padding: 1rem;

}

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.4rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

p {
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    color:  #2f0164;
    padding-left: 5%;
    padding-right: 5%;
  }

  .info_lead{
    list-style-type: none;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    padding: 0;
    display: inline;
  }

  .info_lead > li {
    margin-top: 3%;
  }

  .info_text_container:nth-child(2) > .info_lead{
    color:  #3b65b9;
  }
  
  .info_text_container:nth-child(4) > .info_lead{
    color: #bf851f;
  }

  .info_text_container:nth-child(6) > .info_lead{
    color: #4812ae;
  }

  footer > p {
    color: #EDA51A;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
  }


  /* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top_nav {
    font: 1.15em;
    background: #ffffff;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
  }
  
  .top_nav ul {
    margin: 0.5%;
  }
  
  .top_nav li {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1rem;
    border: 3px solid #2f0164;
    border-radius: 30px;
  
  }
  
  .top_nav li a {
    text-decoration: none;
    color:  #2f0164;
  }
  
  .top_nav li a:hover {
    padding: 1em;
    margin-bottom: 1rem;
  }
  
  .tel{
    float: right;
  }
  
  .content_nav {
    font-size: 1.15em;
    background:  #2f0164;
    border-radius: 5px;
    text-align: center;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
  }
  
  .content_nav ul {
    margin: 0;
    padding: 0;
  }
  
  .content_nav li {
    display: inline-block;
    padding: 15px 40px;
  }
  
  .content_nav li a {
    text-decoration: none;
    color: #EDA51A;
  }
  
  .content_nav li a:hover {
    padding-bottom: 3px;
    color: #649cfc;
  }
  
  footer{
    width: 100%;
    background-color:  #2f0164;
    border-radius: 5px;
    margin-top: 15%;
  }
  
  
  footer > p {
    color: #EDA51A;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
  }

  /* Icons for Information Page 
  ------------------------------------------------- */
  .age_group_containers{
    display: block;
    grid-row-gap: 2%;
    grid-column-gap: 2%;
    grid-template-columns: 33.333% 66.666%;
    grid-template-rows: auto auto auto;
    background-color: none;
    /* border: 4px dotted #2f0164;
    border-radius: 5px; */
    padding: 0%;
    justify-content: space-between;
  }

  .age_group_containers > div {
    text-align: center;
    vertical-align: center;
    margin: 0% 5% 10% 5%;
  }


  #info_icons_1 {
     display: grid;
     /* grid-column-start: 1;
     grid-column-end: 2; */
     width: 100%;
     height: 100%;
  
  }

  #info_icons_2 {
    display: grid;
    width: 100%;
    height: 100%;
 }

 #info_icons_3 {
  display: grid;
  width: 100%;
  height: 100%;
}


  .info_text_container {
    padding: 10%;
    grid-column-start: 2;
    grid-column-end: 3;
    background: none;
    margin-top: 5%;
  }

  .info_text_container:nth-child(2){
    border: 3px dotted #3b65b9;
    border-radius: 5px;
  }

  /* MEDIA QUERIES */
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
  /* Styles */
  hr{
    display: none;
  }
  
    /* Typography */
    .top_nav {
      font-size: 1.3rem;
    }
  
    .content_nav {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.6em;
    }
  
    p {
      font-size: 1.15rem;
    }
  
    footer > p{
      font-size: 1.5rem;
      padding: 0;
    }
  
    footer {
      display: iblock;
      width: 100%;
    }

  .info_lead{
    list-style-type: none;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    padding: 10%;
    display: inline;
  }

  .info_text_container {
    padding: 2%;
    grid-column-start: 2;
    grid-column-end: 3;
    background: none;
    
  }

  /* Containers for Icons */
  .age_group_containers{
    display: flex;
    width: 90%;
    text-align: center;
    margin: 0 auto 5% auto
   }

   .age_group_containers div {
    margin: 3%;
   }

   #YP_hover{
     width: 100%;
     height: auto;
   }

   #MA_hover {
     width: 100%;
     height: auto;
   }

   #carers_hover{
     width: 100%;
     height: auto;
   }


  /* Icons for Information Page */
  .info_text_container {
    display: none;
  }

  #info_icons_2 {
    width: 100%;
    height: auto;
  }

  #info_icons_3 {
    width: 100%;
    height: auto;
  }

  /* Hover functions here */
  /* This is for the Young Persons icon selection */
  #YP_hover:hover > #info_icons_1 {
    display: none;
  }

  #info_icons_1 {
    width: 100%;
    height: auto;
  }

  #YP_hover:hover > .info_text_container:nth-child(2) {
    width: 82%;
    height: 80%;
    display: block;
    border: 5px dashed #0e65bd;
    border-radius: 23px;
    margin: 0;
    text-align: center;
    padding: 8%;
  }
}