html {
	scroll-behavior: smooth;}

main > section {
    padding: 0;
  }
  
  footer{
    background-color:  #2f0164;
    border-radius: 5px;
  }

  /* Page Header Graphics 
--------------------------------------------------- */
.graphic_header{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }

  
  /* Typography for Information Page 
  ------------------------------------------------- */
h1 {
    font-family: "futura-pt", sans-serif;
  }
  


  .sub_pages {  /* These are the labels for the top of every page  */
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

.h2_about { 
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  font-style: italic;
  color:  #2f0164;
  text-align: center;
  padding: 1rem;

}

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 1.4rem;
  font-style: normal;
  color:  #2f0164;
  text-align: center;
}

p {
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    color:  #2f0164;
    padding-left: 5%;
    padding-right: 5%;
  }

  .info_lead{
    list-style-type: none;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    padding: 0;
    display: inline;
  }

  .info_lead > li {
    margin-top: 3%;
  }

  .info_text_container:nth-child(2) > .info_lead{
    color:  #3b65b9;
  }
  
  .info_text_container:nth-child(4) > .info_lead{
    color: #bf851f;
  }

  .info_text_container:nth-child(6) > .info_lead{
    color: #4812ae;
  }

  footer > p {
    color: #EDA51A;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
  }


  /* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top_nav {
    font: 1.15em;
    background: #ffffff;
    border-width: 2rem;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
  }
  
  .top_nav ul {
    margin: 0.5%;
  }
  
  .top_nav li {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1rem;
    border: 3px solid #2f0164;
    border-radius: 30px;
  
  }
  
  .top_nav li a {
    text-decoration: none;
    color:  #2f0164;
  }
  
  .top_nav li a:hover {
    padding: 1em;
    margin-bottom: 1rem;
  }
  
  .tel{
    float: right;
  }
  
  .content_nav {
    font-size: 1.15em;
    background:  #2f0164;
    border-radius: 5px;
    text-align: center;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .content_nav ul {
    margin: 0;
    padding: 0;
  }
  
  .content_nav li {
    display: inline-block;
    padding: 15px 40px;
  }
  
  .content_nav li a {
    text-decoration: none;
    color: #EDA51A;
  }
  
  .content_nav li a:hover {
    padding-bottom: 3px;
    color: #649cfc;
  }
  
  footer{
    width: 100%;
    background-color:  #2f0164;
    border-radius: 5px;
    margin-top: 15%;
  }
  
  
  footer > p {
    color: #EDA51A;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
  }

  /* Icons for Information Page 
  ------------------------------------------------- */
  .age_group_containers{
    display: grid;
    grid-row-gap: 5%;
    grid-column-gap: 2%;
    grid-template-columns: 33.333% 66.666%;
    grid-template-rows: auto auto auto;
    background-color: none;
    /* border: 4px dotted #2f0164;
    border-radius: 5px; */
    padding: 0%;
    margin-left: 2%;
    margin-right: 4%;
  }

  .age_group_containers > div {
    text-align: center;
    vertical-align: center;
  }

  .info_icons {
     display: grid;
     /* grid-column-start: 1;
     grid-column-end: 2; */
     width: 100%;
     height: 100%;
  }




  .info_text_container {
    padding-bottom: 10%;
    padding-top: 2%;
    grid-column-start: 2;
    grid-column-end: 3;
    background: none;

  }

  .info_text_container:nth-child(2){
    border: 3px dotted #3b65b9;
    border-radius: 5px;
  }
  .info_text_container:nth-child(4){
    border: 3px dotted #bf851f;
    border-radius: 5px;
  }

  .info_text_container:nth-child(6){
    border: 3px dotted #4812ae;
    border-radius: 5px;
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    /* Typography */
  .top_nav {
    font-size: 1.5rem;
  }

  .content_nav {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  p {
    font-size: 1.15rem;
  }

  footer > p{
    font-size: 1.5rem;
    padding: 0;
  }

  footer {
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0;
  }

  .age_group_containers{
   display: flex;
   max-width: 77%;
   justify-content: space-between;
   text-align: center;
   margin-bottom: 2%;
  }


  .info_icons {
    width: 300%;
    height: auto;
  }

  .info_text_container{
    width: 100%;
    display: none;
    justify-content: space-between;
  }



 
