/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    scroll-behavior: smooth;
}

section {
    display: block;
    font-family: "futura-pt", sans-serif;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 h1 { 
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-size: 200%;
    font-style: normal;
    color:  #2f0164;
    text-align: center;
}


h2 { 
  font-family: "futura-pt", sans-serif;
  font-weight: 550;
  font-size: 180%;
  font-style: italic;
  color:  #2f0164;
  text-align: center;
  padding: 1rem;

}

p {
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    font-style: normal;
    color:  #2f0164
}

.header_footer {
font-size: 1.15em;
font-family: "futura-pt",sans-serif;
font-weight: 400;
font-style: normal;
color:  #EDA51A
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top_nav {
    font: 1.15em;
    background: #ffffff;
    border-width: 2rem;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .top_nav ul {
    margin: 0.5%;
  }
  
  .top_nav li {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1rem;
    border: 3px solid #2f0164;
    border-radius: 30px;

  }
  
  .top_nav li a {
    text-decoration: none;
    color:  #2f0164;
  }
  
  .top_nav li a:hover {
    padding-bottom: 3px;
    color: #2f0164;
  }

  .tel{
    float: right;
  }
  
  .content_nav {
    font: 1.15em;
    background:  #2f0164;
    border-radius: 5px;
    text-align: center;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .content_nav ul {
    margin: 0;
    padding: 0;
  }
  
  .content_nav li {
    display: inline-block;
    padding: 15px 40px;
  }
  
  .content_nav li a {
    text-decoration: none;
    color: #EDA51A;
  }
  
  .content_nav li a:hover {
    padding-bottom: 3px;
    color: #222;
  }

  footer{
    background-color:  #2f0164;
    border-radius: 5px;
  }

  footer > p {
    color: #EDA51A;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
  }

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.beam {
  width: 80%;
  height: 25%;
  position: relative;
  display: block;
  margin: 5% auto;
  text-align : center;
}

.icon {
  width: 50%;
  height: 25%;
  position: relative;
  display: block;
  margin: 2% auto;
}

#find_support {
  width: 70%;
  height: 30%;
  position: relative;
  display: block;
  margin: 2% auto;
  padding-left: 10%
}

/* Icon Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flow{
  border: 3px solid  #3b66b9;
  border-radius: 15px;
  margin-top: 3%;
}

.flow2{
  border: 3px solid  #2f0164;
  border-radius: 15px;
  margin-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

#home_header {
  border: 3px solid  #2f0164;
  border-radius: 15px;
  margin-top: 3%;
}

.page_content{
  margin-bottom: 5rem;
}